@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #343a40;
    font-size: 16px;
    font-family:Ubuntu,Times, serif;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.box{
    width: 400px;
    margin:1rem;
}
h3{
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
}
label{
   letter-spacing: 1.2px;
   display: flex;
}
input{
    display: block;
    width: 62%;
    margin: .5rem 0;
    padding: .3rem;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    color: #6B7280;
    font-size: 1rem;
    outline: none;
}
input:focus{
    border: 1px solid #6D28D9;
}
button{
    margin: 1rem 0;
    padding: .5rem .5rem;
    font-size: 1rem;
    letter-spacing: 1.2px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #6D28D9;
    transition: all .3s ease-in
}
button:hover{
    border: 1px solid #6D28D9;
    background-color: #fff;
    color: #111;
}

.result{
    display: none;
}
.monthly-payment , .interest , .total-payment{
    width: 250px;
    margin: .8rem 0;
    padding: .3rem .5rem;
    border: 1px solid #D1D5DB;
    letter-spacing: 1.2px;
    border-radius: 5px;
}

